<a href="https://colab.research.google.com/github/JumanaRahim/workshop/blob/master/EXERCISE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a python script to read two numbers add them and print the result

In [3]:
num1= int(input("Enter number 1: "))
num2=int(input("Enter number 2: "))
result= num1 + num2
print(num1, "+", num2,"=",result)

Enter number 1: 5
Enter number 2: 10
5 + 10 = 15

Assume the numbers to be 2.4 and 3.5. Print the out put as given below
Sum of 2.4 and 3.5 is 5.9

In [4]:
num1=2.4
num2=3.5
result= num1 + num2
print(num1, "+", num2,"=",result)

2.4 + 3.5 = 5.9

2. Write a python script to find maximum of two number

In [7]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
if(num1 > num2):
  print(num1, "is greater")
elif(num1 < num2):
    print(num2, "is greater")
else:
    print("Both are equal")

Enter the first number: 32
Enter the second number: 55
55 is greater

3. Write a python script to find maximum of three numbers

In [24]:
def maximum(a, b, c):
  
 if (a >= b) and (a >= c):
        largest = a
  
 elif (b >= a) and (b >= c):
        largest = b
 else:
        largest = c
          
 return largest 
a = 10
b = 14
c = 12
print(maximum(a, b, c))

14

4. Write a python script to find maximum of ten numbers

In [25]:
list1 = [10, 20, 4, 45, 99, 1, 88, 77, 55]
list1.sort()
print("Largest element is:", list1[-1])

Largest element is: 99

5. Write a python Program for Sum of squares of first n natural numbers

In [52]:
def squaresum(n) :
 sum = 0
 for i in range(1, n+1) :
        sum = sum + (i * i)
 return sum
n = 5
print(squaresum(n))

55

6. Write a python program to generate the following multiplication table
 1 5
 2 10
 ……..
 10 50

In [53]:
number = int(input ("Enter the number of which multiplication table to be printed: "))            
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 5
The Multiplication Table of:  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50